.dashboard {
    background-color: slateblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-template-columns: repeat(1 , 4rem);
    grid-template-rows: repeat(1 , ); */

}

.sidebar-dashboard-cont{
    height: 100%;
    width: 4rem;
}
.navbar-dashboard-cont{
    height: 3rem;
    width: 100%;
}

.app-content{
    height: 92.2vh;
}