* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}



:root {
    --dark-bg: #05060f;
    --black: #010101;
    --dark-grey: #100f16;
    --purple: #8466f4;
    --txt-color: #f0f0f3;
    --border-color: #3e3f4a;
    --title-color: #feffff;
    --title-size: 1.25rem;
    --subtitle-size: 1rem;
    --txt-size: .75rem;
    --gap: .5rem;
    --title-weight: 600;
    --radius: .2rem;
    --glass-bg: rgba(255, 255, 255, 0.162);
    --transition: all .3s ease-in-out;



    font-size: clamp(2vh, 2.61vh, 5vh);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 1rem;
}

::-webkit-scrollbar-button {
    display: none;
}



::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 5px;

}


::-webkit-scrollbar-track {
    background-color: transparent;
}